/* : header */

/* ! <header>=============================================================================================================================================*/
.header {
    $contentzindex: 3;
    $activete-menuburger: $md2;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    padding: 0 10px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: #fff;
    }

    &__burger {
        display: none;
        @media (max-width: $activete-menuburger) {
            body.lock {
                overflow: hidden;
            }
            display: block;
            position: relative;
            z-index: $contentzindex;
            width: 40px;
            height: 25px;
            &::before,
            &::after,
            & span {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 3.33px;
                background-color: #000;
                transition-duration: 300ms;
            }
            &::before {
                top: 0px;
            }
            &::after {
                bottom: 1px;
            }
            & span {
                top: 10px;
            }
        }
        &.active {
            &::before {
                top: 10px;
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 12px;
            }
            & span {
                transform: scale(0);
            }
        }
    }

    &__menu {
        @media (max-width: $activete-menuburger) {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            $menu-color: rgba(0, 0, 0, 0.8);
            background-color: $menu-color;
            padding: 120px 0 0 0;

            transition-duration: 400ms;

            overflow: auto;
            &.active {
                top: 0;
            }
        }
    }

    &__body {
        position: relative;
        height: 102px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        position: relative;
        z-index: $contentzindex;
        display: flex;
        margin: 0 0 0 25px;
        @media only screen and (max-width: $md2) {
            display: block;
        }
    }

    &__list-link {
        margin: 0 28px 0 0;
        padding: 1px 0 0 0;

        position: relative;
        z-index: $contentzindex;

        &:last-child {
            margin: 0;
        }

        span a {
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;

            transition: all 0.2s ease 0s;

            @media only screen and (max-width: $md2) {
                font-size: 16px;
                color: #fff;
            }
        }

        @media only screen and (max-width: $md2) {
            margin: 0 0 15px 0;
        }

        // * Стили для underline в ссылках {
        @media only screen and (min-width: $md2) {
            span {
                position: relative;
                display: block;
                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: -5px;

                    width: 0;
                    height: 1.5px;
                    background-color: $secondColor;

                    transition: all 0.3s ease 0s;
                }
            }

            &:hover {
                span::after {
                    left: 0;
                    width: 100%;
                }
            }
            // * Стили для underline в ссылках }

            span:hover a {
                color: $secondColor;
            }
        }

        span:active a {
            color: #959595;
        }

        &--icon {
            background: url("../img/header/icons/world.svg") right no-repeat;
            padding: 1px 39px 0 0;
            height: 28px;
            @media only screen and (max-width: $md2) {
                display: inline-block;
            }
        }
    }

    &__logo {
        position: relative;
        z-index: $contentzindex;

        display: inline-block;
        width: 172px;
        padding: 0 0 1px 0;
        img {
            max-width: 100%;
        }
    }
}
/* ! </header>============================================================================================================================================*/
