/* : investor */
/* : investor-column */

/* ! <investor>=============================================================================================================================================*/
.investor {
    &__body {
        padding: 0 0 100px 0;
    }

    &__title {
        margin: 0 0 40px 0;
    }

    &__text {
        max-width: 670px;
        margin: 0 0 40px 0;
    }

    &__button {
        width: 270px;
    }
}
/* ! </investor>============================================================================================================================================*/

/* ! <investor-column>============================================================================================================================================= */
.investor-column {
    display: flex;
    justify-content: center;
    margin: 0 0 48px 0;
    &__column {
        flex: 1 1 20%;
    }

    &__body {
        
    }

    &__price {
        color: $secondColor;
        font-family: "PT Serif";
        font-size: 54px;
        line-height: 54px;
        text-align: center;
    }

    &__sub-title {
        text-align: center;
        color: #AEC3D4;
        font-size: 16px;
        line-height: 32px;
    }
}
/* ! </investor-column>============================================================================================================================================ */
