/* : learnMore */

/* ! <learnMore>=============================================================================================================================================*/
.learnMore {

    &__body {
    }

    &__title {
        margin: 0 0 48px 0;
    }

    &__map {
        height: 448px;
        width: 100%;
    }
}
/* ! </learnMore>============================================================================================================================================*/
