/* : news */
/* : news-columns */

/* ! <news>=============================================================================================================================================*/
.news {
    &__body {
        padding: 0 0 100px 0;
    }

    &__header {
        display: flex;
        justify-content: space-between;

        margin: 0 0 48px 0;
    }

    &__title {
    }

    &__nav-filter {
        display: flex;
        text-align: center;
    }

    &__nav-filter-item {
        margin: 0 62px 0 0;
        color: #d3cfce;
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;

        &.active {
            color: $secondColor;
            font-weight: 700;
        }

        &:last-child {
            margin: 0;
        }
    }
}
/* ! </news>=============================================================================================================================================*/

/* ! <news-columns>============================================================================================================================================= */
.news-columns {
    display: flex;
    justify-content: center;

    &__column {
        flex: 1 1 33.333%;
        display: none;
        &.active {
            display: flex;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__img {
        position: relative;
        overflow: hidden;

        margin: 0 0 32px 0;
        &::after {
            content: "";
            transform: rotate(22deg);
            background-image: $maskColor;
            position: absolute;
            top: -90px;
            left: -69px;
            height: 120%;
            width: 370px;
        }
    }

    &__sup-title {
        position: absolute;
        top: 24px;
        left: 30px;
        z-index: 2;

        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: #fff;
    }

    &__title {
        position: absolute;
        z-index: 2;
        left: 30px;
        bottom: 30px;

        transform: translate(0, -50%);

        max-width: 310px;

        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 1px;
        color: #fff;
        text-transform: uppercase;
    }

    &__text {
        flex: 1 1 auto;

        font-size: 16px;
        font-weight: 400;
        line-height: 32px;

        margin-bottom: 22px;
    }

    &__sub-text {
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 1px;
        color: $secondColor;

        position: relative;
        span {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -5px;

                width: 0;
                height: 1.5px;
                background-color: $secondColor;

                transition: all 0.3s ease 0s;
            }
        }

        &:hover {
            span::after {
                left: 0;
                width: 100%;
            }
        }
    }
}
/* ! </news-columns>============================================================================================================================================ */
